@import 'fonts';
@import 'base';
@import 'variables';
@import 'null';
@import 'animation';
@import "mixins";
@import 'bootstrap';

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--secondary-color);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-color);
  color: #fff;

  &-top {
    flex: 1 0 10dvh;
  }

  &-center {
    flex: 1 0 80dvh;
  }

  &-bottom {
    flex: 1 0 10dvh;
  }
}
