@import 'variables';

@mixin ibg {
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin img {
  img {
    width: 100%;
    height: 100%;
  }
}


@mixin scrollbar() {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border: 0;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@mixin no-scroll() {
  &::-webkit-scrollbar {
    display: none;
  }
}
